<div ng-message="required"><span class="glyphicon glyphicon-alert"></span> This field is required</div>
<div ng-message="number"><span class="glyphicon glyphicon-alert"></span> This field is a number</div>
<div ng-message="onlynumbers"><span class="glyphicon glyphicon-alert"></span> This field is a number</div>
<div ng-message="odd"><span class="glyphicon glyphicon-alert"></span> Odd numbers only!</div>
<div ng-message="minlength"><span class="glyphicon glyphicon-alert"></span> Your field is too short</div>
<div ng-message="maxlength"><span class="glyphicon glyphicon-alert"></span> Your field is too long</div>
<div ng-message="email"><span class="glyphicon glyphicon-alert"></span> Your field has an invalid email address</div>