div.errorMessage,
span.errorMessage {
    background: maroon;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.errorMessag:after {
    position: absolute;
    top: -10px;
    content: "";
    left: 20px;
    border-style: solid;
    border-color: transparent transparent maroon;
    border-width: 5px;
}